.botao-link {
  display: inline-block;
  background-color: #10b981;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.botao-link:hover {
  background-color: #047857;
}
